body{
    font-family: Noto Sans TC;
}

.header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.begin{
    color: #000;
    text-decoration: none;
    font-weight: 700px;
    font-size: 28px;
}

.box1{
    display: flex;
    gap: 24px;
}

.box1-left{
    width: 50%;
}

.box1-right{
    align-content: center;
}

@media(max-width: 768px){
    .box1{
        flex-direction: column;
    }

    .box1-left{
        width: 100%;
    }
}
.date{
    width: 100%;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
}

.tag{
    color: #0027D5;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    gap: 8px;
}

.new{
    color: #FFFFFF;
    font-size: 16px;
    background: #0027D5;
    border-radius: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
}

h1{
    width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 28px;
}

.box2{
    width: 636px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 48px;
    padding-bottom: 48px;
}

@media(max-width: 768px){
    .box2{
        width: 100%;
    }

    .mobile{
        max-width: 100%;
    }
}

h2{
    font-size: 28px;
    color: #0027D5;
    line-height: 150%;
}

.emphasis{
    color: #0027D5;
}

.summary{
    background: #EDEDED;
    border-radius: 24px;
    padding: 24px;
}

button{
    width: 108px;
    height: 40px;
    border-radius: 40px;
}

.page{
    width: 636px;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 768px){
    .page{
        width: 100%;
    }
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #6C757D;
}

@media(max-width: 768px){
    .contact{
        display: none;
    }
}

.email{
    width: 55%;
    height: 48px;
    font-family: Noto Sans TC;
    font-weight: 500px;
    font-size: 32px;
}

.social-box{
    width: 236px;
    height: 44px;
}

.social-img{
    width: 44px;
    height: 44px;
}

.footer{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){
    .footer{
        border-top: 1px solid #6C757D;
    }
}

.rights{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 16px;
}